<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taiyangguan_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{410,410}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{410,410}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>taiyangguan_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,984},{214,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{214,214}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>zbg_4_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{576,414},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>zbg_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,572}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{1136,572}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_weizi1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fee3829ebd255edd746f20a741824280$</string>
            <key>textureFileName</key>
            <string>game_weizi1.png</string>
        </dict>
    </dict>
</plist>
