<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_m_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{136,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,62}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>p_m_chongzhi_th.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,484},{136,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,62}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>p_m_chongzhi_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,548},{136,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,62}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>p_m_chongzhi_vn.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,420},{136,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,62}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>p_m_zygg.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,214},{204,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,68}}</string>
                <key>sourceSize</key>
                <string>{206,68}</string>
            </dict>
            <key>p_m_zygg_th.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,350},{136,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{136,68}}</string>
                <key>sourceSize</key>
                <string>{206,68}</string>
            </dict>
            <key>p_m_zygg_vn.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,74},{206,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,68}}</string>
                <key>sourceSize</key>
                <string>{206,68}</string>
            </dict>
            <key>p_m_zysw.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,144},{206,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,68}}</string>
                <key>sourceSize</key>
                <string>{206,68}</string>
            </dict>
            <key>p_m_zysw_th.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,284},{202,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{202,64}}</string>
                <key>sourceSize</key>
                <string>{206,68}</string>
            </dict>
            <key>p_m_zysw_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{206,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,68}}</string>
                <key>sourceSize</key>
                <string>{206,68}</string>
            </dict>
            <key>p_m_zysw_vn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{202,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{202,68}}</string>
                <key>sourceSize</key>
                <string>{206,68}</string>
            </dict>
            <key>ui_fls_fu_a003_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,74},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{58,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_fls_fu_a003_hd_th.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,214},{82,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{82,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_fls_fu_a003_hd_vn.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,262},{78,54}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{78,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_fls_lv_b001_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{180,68}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ui_fls_lv_b001_hd_th.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,556},{124,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,17},{124,64}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ui_fls_lv_b001_hd_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,350},{182,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{182,66}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ui_fls_lv_b001_hd_vn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{238,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{238,70}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ui_fls_lv_b002_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,418},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{180,68}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ui_fls_lv_b002_hd_th.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{124,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,17},{124,64}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ui_fls_lv_b002_hd_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{182,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{182,66}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ui_fls_lv_b002_hd_vn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{240,70}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ui_fls_lv_b003_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{180,68}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ui_fls_lv_b003_hd_th.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,612},{116,70}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,11},{116,70}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ui_fls_lv_b003_hd_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,488},{180,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{180,66}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ui_fls_lv_b003_hd_vn.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{240,70}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ui_zi.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a137221f8eaaf363cf6c8fef970bbc91$</string>
            <key>textureFileName</key>
            <string>effect_ui_zi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
